<div class="row pb-5 bg-white pt-4">
    <div class="col-3">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-10 ">
                <div class="position-relative d-flex justify-content-around align-items-center center" style="background-image: 
        url('https://maps.google.com/maps/api/staticmap?&amp;channel=ta.desktop.hotels&amp;zoom=11&amp;size=296x136&amp;scale=2&amp;client=gme-tripadvisorinc&amp;format=jpg&amp;sensor=false&amp;language=en_US&amp;center=27.251503,33.818409&amp;maptype=roadmap&amp;&amp;markers=icon:http%3A%2F%2Fc1.tacdn.com%2F%2Fimg2%2Fmaps%2Ficons%2Fcomponent_map_pins_v1%2FH_Pin_xs.png|27.221821,33.837662|27.144381,33.813530|27.106865,33.830547|27.190063,33.827415|27.241428,33.845291|27.258718,33.818047|27.208900,33.845612|27.150608,33.827847|27.204870,33.848091|27.245474,33.843361|27.240282,33.847584|27.098145,33.841885|27.256510,33.811192|27.260212,33.812641|27.070536,33.890629|27.104523,33.823891|27.211605,33.842583|27.258322,33.819424|27.047083,33.888184|27.219650,33.833179&amp;signature=K5EQw4qo8m1UP0G_54GOIvH-xM8=');
						background-size:cover;height:8rem ;">
                    <div>
                        <button class="btn btn-secondary">
              <span> {{'Hotel.date.map'|translate}}</span>
            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-9 pl-4">
        <div class="row">
            <h2>{{'Hotel.date.Makassar'|translate}}</h2>
        </div><br>
        <div class="row">
            <div class="col-6">
                <button type="button" class="btn btn-success shadow-sm w-75 pt-0 pr-0 pb-0 border-bottom-0 border-top-0 border-right-0">
          <div class="d-flex border bg-white rounded">
            <span class="mr-3 ml-3 align-self-center pt-1">
              <mat-form-field>
                <input class="text-dark " alt="checkIn" (dateInput)="inputEvent($event)" (dateChange)="changeEvent($event)" matInput
                  [matDatepicker]="checkIn" placeholder="Check In">
                <mat-datepicker-toggle matSuffix [for]="checkIn"></mat-datepicker-toggle>
                <mat-datepicker #checkIn></mat-datepicker>
              </mat-form-field>
            </span>
            <!-- <span>
              <span class="text-secondary">Check In</span> <br>
              <span class=" text-dark">— / — / —</span>
            </span> -->
          </div>
        </button>

            </div>

            <div class="col-6 ">
                <div class="row">
                    <div class="col-10">
                        <div class="w-100">
                            <button type="button" class="checkout btn btn-danger shadow-sm pt-0 pr-0 pb-0 border-bottom-0 border-top-0 border-right-0">
                <div class="d-flex border bg-white rounded pr-5 wrap">
                  <span class="mr-3 ml-3 align-self-center pt-1 ">
                    <mat-form-field>
                      <input class="text-dark pr-3" alt="checkOut" (dateInput)="inputEvent($event)" (dateChange)="changeEvent($event)"
                        matInput [matDatepicker]="checkOut" placeholder="Check Out">
                      <mat-datepicker-toggle matSuffix [for]="checkOut"></mat-datepicker-toggle>
                      <mat-datepicker #checkOut></mat-datepicker>
                    </mat-form-field>
                  </span>
                  <!-- <span>
                    <span class="text-secondary">Check Out</span><br>
                    <span class=" text-dark">— / — / —</span>
                  </span> -->
                </div>
              </button>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>


        </div>
    </div>
</div>