<div class="container py-3 w-100">
<h1 class="display-4">Account Info
    <br>
    <a class=" float-right mb-2" style="font-size: 13px;" routerLink="">Continue Browsing</a>
</h1>
<br>
<hr class="mt-2">
<form>
    <div class="row w-100">
      <div class="col">
        <label for="firstname" class="ml-2 text-secondary font-weight-bold small">First name</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="firstname"  name="firstname">
        <label for="homeairport" class="ml-2 text-secondary font-weight-bold small">Home airport</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="homeairport"  name="homeairport">
        <label for="email" class="ml-2 text-secondary font-weight-bold small">E-mail</label>
    <input type="email" class="form-control mb-2 mr-sm-2 " id="email">
    <!-- <a class="small" href="#">+ Add an e-mail address</a><br><br> -->
    <label for="streetaddress" class="ml-2 text-secondary font-weight-bold small">Street address</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="streetaddress"  name="streetaddress">
        <label for="streetaddress2" class="ml-2 text-secondary font-weight-bold small">Street address (continued)</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="streetaddress2"  name="streetaddress2">
        <label for="city" class="ml-2 text-secondary font-weight-bold small">City</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="city"  name="city">
        <label for="sel1" class="ml-2 text-secondary font-weight-bold small">State/Province/Region</label>
        <select class="form-control mb-2 mr-sm-2" id="sel1">
          <option>State/Province</option>
          <option>Albama</option>
          <option>Alaska</option>
          <option>Arizona</option>
          <option>Arkansas</option>
          <option>California</option>
          <option>Connecticut</option>
          <option>Delaware</option>
          <option>District of Columbia</option>
          <option>Florida</option>
          <option>Georgia</option>
          <option>Hawaii</option>
          <option>Idaho</option>
          <option>Indiana</option>
          <option>Maryland</option>
          <option>Michigan</option>
          <option>Montana</option>
          <option>New York</option>
          <option>Texas</option>
          <option>West Virginia</option>
        </select>
        <label for="code" class="ml-2 text-secondary font-weight-bold small">ZIP code/Postal code</label>
        <input type="number" class="form-control mb-2 mr-sm-2" id="code" name="code">
        <label for="sel2" class="ml-2 text-secondary font-weight-bold small">Country</label>
        <select class="form-control mb-2 mr-sm-2" id="sel2">
          <option>Afghanistan</option>
          <option>Aland Islands</option>
          <option>Albania</option>
          <option>Algeria</option>
          <option>American Samoa</option>
          <option>Andorra</option>
          <option>Argentina</option>
          <option>Australia</option>
          <option>The Bahamas</option>
          <option>Bahrain</option>
          <option>Bangladesh</option>
          <option>Brazil</option>
          <option>Cameroon</option>
          <option>Canada</option>
          <option>China</option>
          <option>Colombia</option>
          <option>Croatia</option>
          <option>Denmark</option>
          <option>Egypt</option>
          <option>Ethiopia</option>
          <option>France</option>
          <option>Georgia</option>
          <option>Germany</option>
          <option>Iceland</option>
          <option>India</option>
          <option>Iraq</option>
          <option>Italy</option>
          <option>Japan</option>
          <option>Korea, South</option>
          <option>Kuwait</option>
          <option>Libya</option>
          <option>Malaysia</option>
          <option>Morocco</option>
          <option>New Zealand</option>
          <option>Oman</option>
          <option>Qatar</option>
          <option>South Africa</option>
          <option>Syria</option>
          <option>Tunisia</option>
          <option>Turkey</option>
          <option>United Arab Emirates</option>
          <option>United Kingdom</option>
          <option>United States</option>
          <option>Vietnam</option>
          <option>Yemen</option>
        </select>
        <label for="sel3" class="ml-2 text-secondary font-weight-bold small">Phone number</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              
              <select class="form-control mb-2 mr-sm-2" id="sel3">
                <option>+1</option>
                <option>+20</option>
                <option>+211</option>
                <option>+212</option>
                <option>+213</option>
                <option>+230</option>
                <option>+231</option>
                <option>+244</option>
              </select>
            </div>
            <input type="number" class="form-control mb-2 mr-sm-2" id="phonenumber">
          </div>
          <label for="pwd" class="ml-2 text-secondary font-weight-bold small">Password</label>
          <input type="password" class="form-control mb-2 mr-sm-2"  id="pwd">
          <!-- <a href="#" class="small">Reset your password</a> -->
          
      </div>
      <div class="col ">
        <label for="lastname" class="ml-2 text-secondary font-weight-bold small">Last name</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="lastname" name="lastname">
        
      </div>
     
    </div>
  </form>
  <hr>
  <div class="p-4 bg-light text-center justify-content-center">
      <p class="text-secondary font-weight-bold ">Click 'Save' to confirm your changes:</p>
      <button type="button" class="btn btn-success pl-3 pr-3 mr-3 font-weight-bold">Save</button> <a href="#">cancel</a>
    </div>