<!-- TOP NAV -->

<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand ml-4" routerLink="home">
        <img src="https://static.tacdn.com/img2/brand_refresh/Tripadvisor_lockup_horizontal_secondary_registered.svg" width="180">
    </a>

    <div class="collapse navbar-collapse">
        <form class="form1 form-inline mr-auto mt-2 mt-lg-0" name="myForm">
            <!-- <div class="form-group search-style ml-4"> -->
            <input ng-model="q" #searchIn (focus)="searchInput()" (keyup)="onKeySearch($event)" class="form-control input1 border-0 input-lg w-100 h-75" type="search" aria-label="Search" id="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                required="" name="q" title="Search" aria-label="Search" value="" aria-label="Search">
            <!-- <button  type="submit" formaction="/Search" class="search1" title="Search" aria-label="Search" tabindex="-1"><svg viewBox="0 0 24 24" width="1em" height="1em" class="searchIcon ">
                    <path d="M22 20.514l-5.517-5.519a8.023 8.023 0 001.674-4.904c0-4.455-3.624-8.079-8.079-8.079C5.624 2.012 2 5.636 2 10.091s3.624 8.079 8.079 8.079a8.03 8.03 0 004.933-1.695l5.512 5.514L22 20.514zm-11.921-4.431c-3.305 0-5.993-2.688-5.993-5.992s2.688-5.992 5.993-5.992a6 6 0 015.992 5.992 6 6 0 01-5.992 5.992z"></path>
                    </svg>
                </button> -->
            <i *ngIf="show" class="fas fa-search position-absolute p-3"></i>
            <!-- </div> -->

            <!-- <div *ngIf="this.search?.length>0 || searchIn.touched" class="searchCont" data-test-attribute="typeahead-results">
               <div class="row">   
                <a class="searchLink m-0 pl-3">
                    <div class="col-4">
                    <div class="searchSt ">
                        <svg viewBox="0 0 24 24" width="24px" height="24px" class="_2HBN-k68 ">
                            <path d="M20.587 12.139V4.144H3.424v7.986A3.805 3.805 0 002 15.097v4.755h1.906v-1.905h16.188v1.91H22v-4.76a3.804 3.804 0 00-1.413-2.958zm-1.906-6.09V8.83a5.048 5.048 0 00-2.865-.876c-1.565 0-2.952.69-3.816 1.749-.864-1.059-2.252-1.749-3.818-1.749-1.07 0-2.056.324-2.851.866V6.049h13.35zm-.258 5.248c-.077-.005-.155-.012-.234-.012h-4.971c.438-.838 1.437-1.426 2.598-1.426 1.168 0 2.173.593 2.607 1.438zm-7.643-.012H5.812c-.081 0-.159.007-.238.012.434-.844 1.438-1.438 2.606-1.438 1.163 0 2.163.588 2.6 1.426zM3.906 16.04v-.943c0-1.051.855-1.905 1.906-1.905h12.376c1.051 0 1.905.854 1.905 1.905v.943H3.906z">
                            </path>
                        </svg>
                    </div>
                </div>
                <div class="col-8">
                    <div class="searchTxt">
                    <div class="txt">{{searchIn.value}} Hotels</div>
                </div>
            </div>
                    </a>
                </div>
                    <hr>
                    <div class="row"> <a class="searchLink m-0 pl-3">
                            <div class="col-4">
                            <div class="searchSt ">
                                <svg viewBox="0 0 24 24" width="24px" height="24px" class="_2HBN-k68 ">
                                    <path d="M20.587 12.139V4.144H3.424v7.986A3.805 3.805 0 002 15.097v4.755h1.906v-1.905h16.188v1.91H22v-4.76a3.804 3.804 0 00-1.413-2.958zm-1.906-6.09V8.83a5.048 5.048 0 00-2.865-.876c-1.565 0-2.952.69-3.816 1.749-.864-1.059-2.252-1.749-3.818-1.749-1.07 0-2.056.324-2.851.866V6.049h13.35zm-.258 5.248c-.077-.005-.155-.012-.234-.012h-4.971c.438-.838 1.437-1.426 2.598-1.426 1.168 0 2.173.593 2.607 1.438zm-7.643-.012H5.812c-.081 0-.159.007-.238.012.434-.844 1.438-1.438 2.606-1.438 1.163 0 2.163.588 2.6 1.426zM3.906 16.04v-.943c0-1.051.855-1.905 1.906-1.905h12.376c1.051 0 1.905.854 1.905 1.905v.943H3.906z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="searchTxt">
                            <div class="txt">{{searchIn.value}} Restaurants</div>
                        </div>
                    </div>
                            </a>
                        </div>
                    <hr>
                    <a class="searchLink">
                        <div class="searchSt ">
                            <svg viewBox="0 0 24 24" width="24px" height="24px" class="_2HBN-k68 ">
                                <path d="M20.587 12.139V4.144H3.424v7.986A3.805 3.805 0 002 15.097v4.755h1.906v-1.905h16.188v1.91H22v-4.76a3.804 3.804 0 00-1.413-2.958zm-1.906-6.09V8.83a5.048 5.048 0 00-2.865-.876c-1.565 0-2.952.69-3.816 1.749-.864-1.059-2.252-1.749-3.818-1.749-1.07 0-2.056.324-2.851.866V6.049h13.35zm-.258 5.248c-.077-.005-.155-.012-.234-.012h-4.971c.438-.838 1.437-1.426 2.598-1.426 1.168 0 2.173.593 2.607 1.438zm-7.643-.012H5.812c-.081 0-.159.007-.238.012.434-.844 1.438-1.438 2.606-1.438 1.163 0 2.163.588 2.6 1.426zM3.906 16.04v-.943c0-1.051.855-1.905 1.906-1.905h12.376c1.051 0 1.905.854 1.905 1.905v.943H3.906z">
                                </path>
                            </svg>
                        </div>
                    <div class="searchTxt">
                        <div class="txt">{{searchIn.value}} Cruises</div>
                    </div>
                        </a>
                </div> -->
        </form>

        <ul class="navbar-nav  my-2 my-lg-0  d-flex align-items-center ">
            <li class="nav-item active d-inline">
                <a class="nav-link d-flex" href="#">
                    <svg viewBox="0 0 24 24" width="25px" height="28px">
                        <path
                            d="M12 2C6.478 2 2 6.478 2 11.999 2 17.522 6.478 22 12 22s10-4.478 10-10.001C22 6.478 17.522 2 12 2zm0 17.999c-4.411 0-8-3.589-8-8 0-4.41 3.589-8 8-8s8 3.59 8 8c0 4.411-3.589 8-8 8z">
                        </path>
                        <path d="M13 7.336h-2v3.501H7.5v1.999H11v3.5h2v-3.5h3.501v-1.999H13z"></path>
                    </svg>
                    <div class="d-inline pl-1 pt-1">
                        <h5><span class="span-size">{{'Header.Post'|translate}}</span></h5>
                    </div>
                </a>
            </li>
            <li class="nav-item active d-inline ml-4">
                <a class="nav-link d-flex" routerLink="signup">
                    <svg viewBox="0 0 24 24" width="25px" height="28px">
                        <path
                            d="M12 2c.539 0 .976.437.976.976v1.032c1.779.21 3.268 1 4.356 2.222 1.271 1.426 1.937 3.372 1.97 5.512.013.755.016 3.706.016 5.381h1.463v1.951H15.77a4.4 4.4 0 01-.336.924 3.545 3.545 0 01-1.2 1.382c-.589.391-1.332.62-2.234.62s-1.645-.229-2.233-.621a3.538 3.538 0 01-1.2-1.382 4.4 4.4 0 01-.336-.924H3.22v-1.951h1.463c0-1.669.002-4.602.015-5.372-.007-2.149.663-4.098 1.944-5.523 1.098-1.222 2.601-2.009 4.383-2.219V2.976A.975.975 0 0112 2zM6.634 17.122h10.732c0-1.675-.003-4.611-.016-5.351-.026-1.763-.573-3.232-1.475-4.245-.891-1-2.187-1.625-3.876-1.625-1.692 0-3.007.627-3.906 1.627-.909 1.012-1.452 2.473-1.444 4.223 0 .001-.015 3.696-.015 5.371zm3.653 1.951l.024.052c.125.249.297.471.538.63.234.156.59.294 1.151.294.562 0 .917-.138 1.151-.294a1.601 1.601 0 00.561-.682h-3.425z">
                        </path>
                    </svg>
                    <div class="d-inline pl-1 pt-1">
                        <h5><span class="span-size">{{'Header.Alert'|translate}}</span></h5>
                    </div>
                </a>
            </li>
            <li class="nav-item active d-inline ml-4">
                <a class="nav-link d-flex" href="#">
                    <svg viewBox="0 0 24 24" width="25px" height="28px">
                        <path
                            d="M12.001 20.729s-6.741-5.85-8.485-8.003c-2.055-2.541-2.018-5.837.089-7.836a5.928 5.928 0 014.104-1.618c1.548 0 3.005.575 4.104 1.618l.174.165.162-.155a5.93 5.93 0 014.104-1.618c1.548 0 3.005.574 4.104 1.618 2.158 2.049 2.192 5.273.084 7.841-1.755 2.139-8.44 7.988-8.44 7.988zM7.709 5.271a3.935 3.935 0 00-2.727 1.068c-1.578 1.498-1.06 3.708.088 5.128 1.306 1.613 5.333 5.204 6.925 6.605 1.583-1.404 5.58-4.993 6.899-6.601 1.195-1.455 1.685-3.603.085-5.122-.726-.689-1.694-1.069-2.728-1.069s-2.001.38-2.728 1.069l-1.539 1.462-1.551-1.473a3.925 3.925 0 00-2.724-1.067z">
                        </path>
                    </svg>
                    <div class="d-inline pl-1 pt-1">
                        <h5><span class="span-size">{{'Header.Trips'|translate}}</span></h5>
                    </div>
                </a>
            </li>
            <li class="nav-item ml-4 mr-4">
                <a class="nav-link" routerLink="profile">
                    <img class="rounded-circle" width="35px" src="../../../assets/img/gondol.jpg">
                </a>
                <!-- <a style="margin-left: 10px;" class="nav-link btn" href="../../Restaurant&Account/account.html">
                    Sign Up
                </a> -->
            </li>
        </ul>

    </div>
</nav>

<!-- BOTTOM NAV  -->

<nav class="navbar  navbar-expand-sm p-1 bg-white border-top border-bottom d-none d-lg-block ">
    <ul class="navbar-nav p-0  borderr ">
        <li class="nav-item dropdown myLinkedDropdown ml-2 mr-4 ">
            <a class="nav-link  seconditem" routerLink="home">{{'Header.Hurghada'|translate}}</a>
            <!-- <div class="dropdown-menu dropdown-menu-wide shadow">
            
            <a href="/url1" id="customFilterPreset1" class="dropdown-item seconditem" >Hurghada Tourism</a>
            <a href="../Hotels&Profile/Hotels/Hotels.html" id="customFilterPreset2" class="dropdown-item seconditem" >Hurghada Hotels</a>
            <a href="/url2" id="customFilterPreset2" class="dropdown-item seconditem" >Hurghada Bed and Breakfast</a>
            <a href="/url2" id="customFilterPreset2" class="dropdown-item seconditem" >Hurghada Vacation Rentals </a>
            <a href="/url2" id="customFilterPreset2" class="dropdown-item seconditem" >Hurghada Vacation Packages</a>
            <a href="/url2" id="customFilterPreset2" class="dropdown-item seconditem" >Flights to Hurghada</a>
            <a href="/url2" id="customFilterPreset2" class="dropdown-item seconditem" >Hurghada Restaurants</a>
            <a href="/url2" id="customFilterPreset2" class="dropdown-item seconditem" >Things to Do in Hurghada</a>
            <a href="/url2" id="customFilterPreset2" class="dropdown-item seconditem">Hurghada Travel Forum</a>
            <a href="/url2" id="customFilterPreset2" class="dropdown-item seconditem">Hurghada photos</a>
            <a href="/url2" id="customFilterPreset2" class="dropdown-item seconditem">Hurghada Map</a>
            <a href="/url2" id="customFilterPreset2" class="dropdown-item seconditem">Hurghada Travel Guide</a>
         
      </div> -->
        </li>
        <li class="nav-item dropdown myLinkedDropdown mr-5">
            <a class="nav-link  seconditem" routerLink="hotels">{{'Header.Hotels'|translate}} </a>
            <!-- <div class="dropdown-menu dropdown-menu-wide shadow">
            
              <a href="../Hotels&Profile/Hotels/Hotels.html" id="customFilterPreset1" class="dropdown-item seconditem" >All Hurghada Hotels</a>
              <a href="../Hotels&Profile/Hotels/Hotels.html" id="customFilterPreset2" class="dropdown-item seconditem" >Hurghada Hotel Deals</a>
              <a href="../Hotels&Profile/Hotels/Hotels.html" id="customFilterPreset2" class="dropdown-item seconditem" >Last Minute Hotels in Hurghada</a>
              <a href="../Hotels&Profile/Hotels/Hotels.html" id="customFilterPreset2" class="dropdown-item seconditem" >By Hotel Type</a>
              <a href="../Hotels&Profile/Hotels/Hotels.html" id="customFilterPreset2" class="dropdown-item seconditem" >By Hotel Class</a>
              <a href="../Hotels&Profile/Hotels/Hotels.html" id="customFilterPreset2" class="dropdown-item seconditem" >By Hotel Brand</a>
              <a href="/url2" id="customFilterPreset2" class="dropdown-item seconditem" >Popular Amenities</a>
              <a href="/url2" id="customFilterPreset2" class="dropdown-item seconditem" >Popular Hurghada Categories</a>
              <a href="/url2" id="customFilterPreset2" class="dropdown-item seconditem">Near Landmarks</a>
              
           
        </div> -->
        </li>

        <!-- <li class="nav-item">
        <a class="nav-link seconditem" href="#">Things to do</a>
      </li> -->
        <li class="nav-item dropdown myLinkedDropdown mr-5">
            <a class="nav-link active text-dark" routerLink="resturants">{{'Header.Restaurants'|translate}}</a>
            <!-- <div class="dropdown-menu dropdown-menu-wide shadow">
            
            <a href="/url1" id="customFilterPreset1" class="dropdown-item seconditem" >All Hurghada Restaurants</a>
            <a href="/url2" id="customFilterPreset2" class="dropdown-item seconditem" >Popular Types of Food</a>
            <a href="/url2" id="customFilterPreset2" class="dropdown-item seconditem" >Popular Dishes</a>
            <a href="/url2" id="customFilterPreset2" class="dropdown-item seconditem" >Popular Restaurants Categories</a>
            <a href="/url2" id="customFilterPreset2" class="dropdown-item seconditem" >Near Hotels</a>
            <a href="/url2" id="customFilterPreset2" class="dropdown-item seconditem" >Near Landmarks</a>  
      </div> -->
        </li>
        <!-- <li class="nav-item ">
        <a class="nav-link seconditem" href="#">Flights</a>
      </li> -->
        <!-- <li class="nav-item ">
        <a class="nav-link seconditem" href="#">Vacation Rentals</a>
      </li> -->
        <li class="nav-item mr-5">
            <a class="nav-link seconditem" routerLink="shopping">{{'Header.Shopping'|translate}}</a>
        </li>

        <li class="nav-item mr-4">
            <a class="nav-link seconditem" routerLink="cruises">{{'Header.Cruises'|translate}}</a>
        </li>

        <li class="nav-item mr-4">
            <a class="nav-link seconditem" routerLink="mediaCenter">{{'Header.MediaCenter'|translate}}</a>
        </li>
        <li class="nav-item mr-4">
            <a class="nav-link seconditem" routerLink="helpCenter">{{'Header.HelpCenter'|translate}}</a>
        </li>


    </ul>
</nav>