
.star {
    font-size: 1.5rem;
    color: #b0c4de;
  }
  
  .filled {
    color: #037249;
  }
  
  // .bad {
  //   color: #deb0b0;
  // }
  
  .filled.bad {
    color: #05ac6f;
  }
  
  .textArea {
    height: 125px;
  }
  