<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body ">
                <div class="row">
                    <div class="col-md-6">
                        <!-- <agm-map *ngFor="let item of hotel.map" [latitude]="item.latitude" [longitude]="item.longitude"></agm-map> -->
                        <agm-map [latitude]="latitude" [longitude]="longitude"></agm-map>
                    </div>
                    <div class="col-md-6 pl-2">
                        <h2 class='text-danger'>{{hotel.name}}</h2>
                        <div>
                            <span class="font-weight-bold">{{'Category.Hotel Class'|translate}}: </span>
                            <span>{{getClass()}}</span>
                        </div>
                        <div>
                            <span class="font-weight-bold">{{'boxmodel.Price per Night'|translate}}: </span>
                            <span class='text-success'>{{theBestDeal.obj[0].pricePerNight | number: "1.0"}} EGP</span>
                        </div>
                        <div>
                        </div>

                        <span class="font-weight-bold">{{'Category.Amenities'|translate}}: </span><br>
                        <div class='row'>
                            <div class='d-inline col-6'>
                                <span *ngFor='let amt of hotel.amenities.slice(0,(hotel.amenities.length/2)+1)'>
                  <span><i class="fas fa-check  pl-3"></i><span class='text-primary amnt'>
                      {{getAmt(amt)}}</span></span><br>
                                </span>
                            </div>

                            <div class='d-inline col-6'>
                                <span *ngFor='let amt of hotel.amenities.slice((hotel.amenities.length/2)+1,hotel.amenities
                .length)'>
                  <span><i class="fas fa-check"></i><span class='text-primary amnt pr-3'>
                      {{getAmt(amt)}}</span></span><br>
                                </span>
                            </div>
                            <!-- <span *ngFor='let amt of hotel.amenities; let index =i'>{{getAmt(amt)}} <span *ngIf="index  !== hotel.amenities.length-1">-</span></span> -->
                        </div>

                        <div>
                            <span class="font-weight-bold">{{'boxmodel.Hotel Style'|translate}} : </span>
                            <span *ngFor="let style of hotel.style">
                <span>{{style}} - </span>
                            </span>
                        </div>


                        <div>
                            <span class="font-weight-bold">{{'boxmodel.Distance'|translate}}: </span><br>
                            <span class="font-weight-bold pl-3">{{'boxmodel.From Main Street'|translate}}: </span>
                            <span>{{hotel.distance.mainStreet}} {{'boxmodel.Km'|translate}}</span><br>
                            <span class="font-weight-bold pl-3">{{'boxmodel.From Beach'|translate}} : </span>
                            <span>{{hotel.distance.beach}} {{'boxmodel.Km'|translate}}</span><br>
                            <span class="font-weight-bold pl-3">{{'boxmodel.From Park'|translate}} : </span>
                            <span>{{hotel.distance.park}} {{'boxmodel.Km'|translate}}</span> <br>
                            <span class="font-weight-bold pl-3">{{'boxmodel.From City Center'|translate}} : </span>
                            <span>{{hotel.distance.cityCenter}} {{'boxmodel.Km'|translate}}</span><br>
                        </div>

                        <div>
                            <span class="font-weight-bold">{{'Category.Language Spoken'|translate}} : </span>
                            <span *ngFor="let lang of hotel.languageSpoken ;let index=i">
                <span>{{getLanguageSpoken(lang)}} - </span>
                            </span>
                        </div>
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="mr-3 float-end btn btn-warning button-raduis text-center" data-toggle="modal" data-target="#booking" (click)='bookNow()'>
          {{'booking.Book Now'|translate}}
        </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'booking.Cancel'|translate}}</button>
            </div>
            <app-booking></app-booking>


        </div>
    </div>
</div>