<div class="bg-white">
  <!-- cover -->
  <div class="cover jumbotron ">
    <div class="divText">
      <div class="text">Media Center</div>
    </div>
  </div>

  <!--  Grid system -->
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <div class="container">
        <h2>Newsroom</h2>

        <!--  Accordion -->
        <div id="accordion" style="margin-bottom: 15px;">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseOne">
                Press Releases
              </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
              <div class="card-body">
                Reco ensures travelers' unique needs for their next trip are fulfilled, thanks to the expertise of
                advisors who know a destination best
                Tripadvisor®, the world's largest travel platform, today officially unveiled a new trip designing
                platform called Reco (helloreco.com). Reco helps travelers plan unforgettable vacation...
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                Logo & Guidelines
              </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
              <div class="card-body">
                We recently updated our logo and wordmark to reflect how we’re evolving as a brand. These guidelines
                explain how to use our new logo property, as well as how to download it for yourself (page 2).
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                Case Studies
              </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
              <div class="card-body">
                Hotels, restaurants, hospitality businesses and destinations around the world who are making the most of
                TripAdvisor to achieve success.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <a id="about-us"></a>
      <div>
        <h1>About Tripadvisor</h1>
        <p>
          Tripadvisor, the world's largest travel platform*, helps hundreds of
          millions of travelers each month** make every trip their best trip.
          Travelers across the globe use the Tripadvisor site and app to
          browse more than 878 million reviews and opinions of 8.8 million
          accommodations, restaurants, experiences, airlines and cruises.
          Whether planning or on a trip, travelers turn to Tripadvisor to
          compare low prices on hotels, flights and cruises, book popular
          tours and attractions, as well as reserve tables at great
          restaurants. Tripadvisor, the ultimate travel companion, is
          available in 49 markets and 28 languages.
        </p>
        <p>
          The subsidiaries of Tripadvisor, Inc. (NASDAQ:TRIP), own and operate
          a portfolio of travel media brands and businesses, operating under
          various websites and apps, including the following websites:
        </p>
        <p>
          *&nbsp; Source: SimilarWeb,&nbsp;<span class="xn-chron">September 2020</span>
        </p>
        <p>** Source: Tripadvisor internal log files</p>
        <p>&nbsp;</p>
      </div>
      <div>
        <h1>Our Team</h1>
        <img src="https://tripadvisor.mediaroom.com/image/skaufer.jpg" width="175px" />
        <div style="font-weight:bold;">Stephen Kaufer</div>
        <p>President &amp; CEO</p>
        <p>
          Steve co-founded Tripadvisor in 2000 with the mission to help
          travelers around the world plan and book the perfect trip. Under his
          leadership, Tripadvisor has grown into the largest travel site in
          the world. As CEO, Steve has led the growth of Tripadvisor, Inc.,
          which includes 24 other travel media brands that operate in 48
          markets worldwide. Prior to co-founding Tripadvisor, Steve was
          president of CDS, Inc., an independent software vendor, and prior to
          that, was co-founder and vice president of engineering of CenterLine
          Software. Steve holds several software patents.&nbsp;Over the years
          Steve has won a number of awards for his entrepreneurship and
          leadership in the travel industry including being inducted into the
          2015 British Travel &amp; Hospitality Hall of Fame, receiving the
          2015 Pioneer Award by the International Society of Hospitality
          Consultants and 2005 Ernst &amp; Young Entrepreneur of the Year
          Award. Mr. Kaufer serves on the boards of CarGurus and the
          Neuroendocrine Tumor Research Foundation (formerly known as Caring
          for Carcinoid Foundation). He's a fan of his brother-in-law's robot
          sculptures at Lipson Robotics (<a href="http://www.lipsonrobotics.com/"
            target="_blank">www.lipsonrobotics.com</a>). Steve has a degree in computer science from Harvard University.
        </p>
      </div>


      <img src="https://tripadvisor.mediaroom.com/image/eteunissen.jpg" width="175px" />
      <div style="font-weight:bold;">Ernst Teunissen</div>
      <p>Chief Financial Officer</p>
      <p>
        Ernst is responsible for overseeing Tripadvisor's global finance operations including accounting, investor
        relations, tax, corporate development and real estate, as well as leading operations for the Cruise Critic
        business. Ernst previously served as executive vice president and chief financial officer of Cimpress N.V.,
        formerly known as Vistaprint N.V. where he had similar responsibilities. Prior to joining Cimpress as vice
        president of corporate strategy in 2009, Teunissen was a founder and director of two corporate finance and
        management consulting firms, Manifold Partners and ThreeStone Ventures Limited. Before that, he worked in
        investment banking as an executive director at Morgan Stanley's Telecoms and Media Group in London and as a
        senior
        associate director for Deutsche Bank in both London and Singapore. Early on, Teunissen worked as a consultant at
        Monitor Company, a global strategy firm in Europe and Asia. He holds a BBA from Nijenrode University, The
        Netherlands School of Business and an MBA from the University of Oregon.

        Ernst's favorite travel destination is Valbonne, France.
      </p>

      <div>
        <hr style="background-color: rgb(133, 133, 133);">
        <h1>General Contact Information</h1>
        <p>Mailing address: Tripadvisor Inc., 400 1st Avenue, Needham, MA, USA 02494<br>
          General company phone number: +1 781 800 5000</p>
      </div>

    </div>


  </div>
</div>
