<div class="bg-white">
    <!-- cover -->
    <div class="cover jumbotron ">
        <div class="divText">
            <div class="text">{{'Media Center.Media Center'|translate}}</div>
        </div>
    </div>

    <!--  Grid system -->
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <div class="container">
                <h2>{{'Media Center.Newsroom'|translate}}</h2>

                <!--  Accordion -->
                <div id="accordion" style="margin-bottom: 15px;">
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse" href="#collapseOne">
                {{'Media Center.Press Releases'|translate}}
              </a>
                        </div>
                        <div id="collapseOne" class="collapse show" data-parent="#accordion">
                            <div class="card-body">
                                {{'Media Center.If1'|translate}}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                {{'Media Center.Logo & Guidelines'|translate}}
              </a>
                        </div>
                        <div id="collapseTwo" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                {{'Media Center.If2'|translate}}
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                {{'Media Center.Case Studies'|translate}}
              </a>
                        </div>
                        <div id="collapseThree" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                {{'Media Center.If11'|translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <a id="about-us"></a>
            <div>
                <h1>{{'Media Center.About Tripadvisor'|translate}}</h1>
                <p>
                    {{'Media Center.If3'|translate}}
                </p>
                <p>
                    {{'Media Center.If4'|translate}}
                </p>
                <p>
                    *&nbsp; {{'Media Center.Source: SimilarWeb'|translate}},&nbsp;<span class="xn-chron">{{'Media Center.September 2020'|translate}}</span>
                </p>
                <p>** {{'Media Center.Source: Tripadvisor internal log files'|translate}}</p>
                <p>&nbsp;</p>
            </div>
            <div>
                <h1>{{'Media Center.Our Team'|translate}}</h1>
                <img src="https://tripadvisor.mediaroom.com/image/skaufer.jpg" width="175px" />
                <div style="font-weight:bold;">{{'Media Center.Stephen Kaufer'|translate}}</div>
                <p>{{'Media Center.President'|translate}} &amp; {{'Media Center.CEO'|translate}}</p>
                <p>
                    {{'Media Center.If5'|translate}} (<a href="http://www.lipsonrobotics.com/" target="_blank">www.lipsonrobotics.com</a>). {{'Media Center.If6'|translate}}
                </p>
            </div>


            <img src="https://tripadvisor.mediaroom.com/image/eteunissen.jpg" width="175px" />
            <div style="font-weight:bold;">{{'Media Center.Ernst Teunissen'|translate}}</div>
            <p>{{'Media Center.Chief Financial Officer'|translate}}</p>
            <p>
                {{'Media Center.If7'|translate}} {{'Media Center.If8'|translate}} {{'Media Center.If9'|translate}}
            </p>

            <div>
                <hr style="background-color: rgb(133, 133, 133);">
                <h1>{{'Media Center.General Contact Information'|translate}}</h1>
                <p>{{'Media Center.If10'|translate}}</p>
            </div>

        </div>


    </div>
</div>