<footer>
    <div class="info row border-top p-4 pb-5">
        <div class=" col-8">
            <div class="d-flex ">
                <img class="mr-3" width="50" src="https://static.tacdn.com/img2/brand_refresh/Tripadvisor_logoset_solid_green.svg">
                <div>
                    <span>{{'Footer.Rights'|translate}}</span>
                    <h5>
                        <a href="#" class="text-dark mr-3"><u>{{'Footer.Terms'|translate}}</u></a>
                        <a href="#" class="text-dark mr-3"><u>{{'Footer.Privacy'|translate}}</u></a>
                        <a href="#" class="text-dark mr-3"><u>{{'Footer.Cookie'|translate}}</u></a><br>
                        <a href="#" class="text-dark mr-3"><u> {{'Footer.Condition'|translate}}</u></a>
                        <a href="#" class="text-dark mr-3"><u>{{'Footer.Map'|translate}}</u></a>
                        <a href="#" class="text-dark mr-3"><u>{{'Footer.SiteWork'|translate}}</u></a>
                    </h5>
                </div>
            </div>
            <div>
                <span>
                    {{'Footer.descripation'|translate}}
                </span>
            </div>
        </div>
        <div class="col-sm-4">
            <form>
                <div class="input-group mt-3 mb-3">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-outline-secondary bg-white dropdown-toggle" data-toggle="dropdown">
                      EGP
                    </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">EGP</a>
                            <a class="dropdown-item" href="#">USD</a>
                            <a class="dropdown-item" href="#">GBR</a>
                            <a class="dropdown-item" href="#">EUR</a>
                        </div>
                    </div>
                    <div class="input-group-prepend">
                        <select #langSelect (change)="changeLang(langSelect.value)">  
                        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>  
                    </select>
                    </div>
                </div>
            </form>
        </div>

    </div>
</footer>