<footer>
    <div class="info row border-top p-4 pb-5">
        <div class=" col-8">
            <div class="d-flex ">
                <img class="mr-3" width="50"
                    src="https://static.tacdn.com/img2/brand_refresh/Tripadvisor_logoset_solid_green.svg">
                <div>
                    <span>© 2021 TripAdvisor LLC All rights reserved.</span>
                    <h5>
                        <a href="#" class="text-dark mr-3"><u>Terms of Use</u></a>
                        <a href="#" class="text-dark mr-3"><u>Privacy and Cookies Statement</u></a>
                        <a href="#" class="text-dark mr-3"><u>Cookie consent</u></a><br>
                        <a href="#" class="text-dark mr-3"><u>Tripadvisor Plus Subscription Terms &
                                Conditions</u></a>
                        <a href="#" class="text-dark mr-3"><u>Site Map</u></a>
                        <a href="#" class="text-dark mr-3"><u>How the site works</u></a>
                    </h5>
                </div>
            </div>
            <div>
                <span>
                    This is the version of our website addressed to speakers of English in the United States. If
                    you
                    are
                    a resident of
                    another country or region, please select the appropriate version of Tripadvisor for your
                    country
                    or
                    region in the
                    drop-down menu.
                </span>
            </div>
        </div>
        <div class="col-4">
        </div>

    </div>
</footer>
