<!-- Search Container -->
<div class="container">
  <div class="cont1">
    <div class="cont2">
      <div class="cont3">
        <img src="../../../assets/Image sources/home.svg" />
      </div>
      <div class="cont4">
        <div class="cont5">Find the good out there</div>

        <div class="cont6">
          <form class="form1" name="myForm">
            <input #myinput data-toggle="modal" data-target="#exampleModal" ng-model="q" class="input1" type="text"
              autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required="" name="q"
              placeholder="Where to?" title="Search" aria-label="Search" value="" aria-label="Search" />
            <button type="submit" formaction="/Search" class="search1" title="Search" aria-label="Search" tabindex="-1">
              <svg viewBox="0 0 24 24" width="1em" height="1em" class="searchIcon">
                <path
                  d="M22 20.514l-5.517-5.519a8.023 8.023 0 001.674-4.904c0-4.455-3.624-8.079-8.079-8.079C5.624 2.012 2 5.636 2 10.091s3.624 8.079 8.079 8.079a8.03 8.03 0 004.933-1.695l5.512 5.514L22 20.514zm-11.921-4.431c-3.305 0-5.993-2.688-5.993-5.992s2.688-5.992 5.993-5.992a6 6 0 015.992 5.992 6 6 0 01-5.992 5.992z">
                </path>
              </svg>
            </button>
          </form>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
              <div class="modal-body ">

                <div class="cont6">
                  <form class="form1" name="myForm">
                    <input ng-model="q" (keyup)="onKeySearch($event)" #searchInput class="input1" type="text"
                      autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required="" name="q"
                      placeholder="Where to?" title="Search" aria-label="Search" value="" aria-label="Search" />
                    <button type="submit" formaction="/Search" class="search1" title="Search" aria-label="Search"
                      tabindex="-1">
                      <svg viewBox="0 0 24 24" width="1em" height="1em" class="searchIcon">
                        <path
                          d="M22 20.514l-5.517-5.519a8.023 8.023 0 001.674-4.904c0-4.455-3.624-8.079-8.079-8.079C5.624 2.012 2 5.636 2 10.091s3.624 8.079 8.079 8.079a8.03 8.03 0 004.933-1.695l5.512 5.514L22 20.514zm-11.921-4.431c-3.305 0-5.993-2.688-5.993-5.992s2.688-5.992 5.993-5.992a6 6 0 015.992 5.992 6 6 0 01-5.992 5.992z">
                        </path>
                      </svg>
                    </button>
                    <!--  *ngIf="this.search?.length > 0 || searchInput.touched" -->
                    <div *ngIf="authCity" class="searchCont" data-test-attribute="typeahead-results">
                      <!-- <div class="row"> -->
                      <a class="searchLink m-0 pl-3">
                        <!-- <div class="col-4"> -->
                        <div class="searchSt">
                          <svg viewBox="0 0 24 24" width="2rem" height="2rem" class="_2HBN-k68">
                            <path
                              d="M20.587 12.139V4.144H3.424v7.986A3.805 3.805 0 002 15.097v4.755h1.906v-1.905h16.188v1.91H22v-4.76a3.804 3.804 0 00-1.413-2.958zm-1.906-6.09V8.83a5.048 5.048 0 00-2.865-.876c-1.565 0-2.952.69-3.816 1.749-.864-1.059-2.252-1.749-3.818-1.749-1.07 0-2.056.324-2.851.866V6.049h13.35zm-.258 5.248c-.077-.005-.155-.012-.234-.012h-4.971c.438-.838 1.437-1.426 2.598-1.426 1.168 0 2.173.593 2.607 1.438zm-7.643-.012H5.812c-.081 0-.159.007-.238.012.434-.844 1.438-1.438 2.606-1.438 1.163 0 2.163.588 2.6 1.426zM3.906 16.04v-.943c0-1.051.855-1.905 1.906-1.905h12.376c1.051 0 1.905.854 1.905 1.905v.943H3.906z">
                            </path>
                          </svg>
                        </div>
                        <!-- </div> -->
                        <div class="col-8">
                          <div class="searchTxt">
                            <div data-dismiss="modal" (click)="getSearchHotels(searchInput.value)" routerLink="/hotels"
                              class="txt">
                              {{ searchInput.value}} Hotels</div>
                          </div>
                        </div>
                      </a>
                      <!-- </div> -->
                      <hr />
                      <!-- <div class="row"> -->
                      <a class="searchLink m-0 pl-3">
                        <!-- <div class="col-4"> -->
                        <div class="searchSt">
                          <svg _ngcontent-acv-c174="" viewBox="0 0 24 24" width="2rem" height="2rem">
                            <path _ngcontent-acv-c174=""
                              d="M18.753 21.459l-5.502-5.504-2.85 2.851-1.663-1.662-4.315 4.315-1.343-1.344 4.316-4.316-4.004-4.003A4.718 4.718 0 012 8.438c0-1.269.494-2.461 1.392-3.358l.834-.835 7.362 7.362.866-.866c-1.099-1.719-.777-3.972.912-5.661l2.538-2.538 1.343 1.344-2.538 2.537c-.785.787-1.254 1.903-.852 2.916l4.423-4.422 1.343 1.344-4.429 4.428c.31.13.64.188.977.164.646-.043 1.299-.364 1.838-.904a630.937 630.937 0 002.642-2.653L22 8.631s-1.241 1.255-2.647 2.66c-.865.865-1.951 1.383-3.057 1.456a4.027 4.027 0 01-2.501-.66l-.864.862 7.166 7.166-1.344 1.344zM4.291 6.995A2.835 2.835 0 003.9 8.438c0 .762.296 1.478.835 2.015l5.666 5.667 1.506-1.507-7.616-7.618z">
                            </path>
                          </svg>
                        </div>
                        <!-- </div> -->
                        <div class="col-8">
                          <div class="searchTxt">
                            <div data-dismiss="modal" (click)="getSearchResturants(searchInput.value)"
                              routerLink="/resturants" class="txt">
                              {{ searchInput.value }} Restaurants</div>
                          </div>
                        </div>
                      </a>
                      <!-- </div> -->
                      <hr />
                      <a class="searchLink">
                        <div class="searchSt">
                          <img class="ship-img"
                            src="https://static.tacdn.com/img2/branding/homepage/messaging/cruise_ship.svg" />
                        </div>
                        <div class="searchTxt">
                          <div class="txt">{{ searchInput.value }} Cruises</div>
                        </div>
                      </a>
                    </div>





                    <div *ngIf="(!authCity)&&clicked" class="searchCont" data-test-attribute="typeahead-results">
                      <!-- <div class="row"> -->
                      <a class="searchLink m-0 pl-3">
                        <!-- <div class="col-4"> -->
                        <div class="searchSt">
                          <svg viewBox="0 0 24 24" width="2rem" height="2rem" class="_2HBN-k68">
                            <path
                              d="M20.587 12.139V4.144H3.424v7.986A3.805 3.805 0 002 15.097v4.755h1.906v-1.905h16.188v1.91H22v-4.76a3.804 3.804 0 00-1.413-2.958zm-1.906-6.09V8.83a5.048 5.048 0 00-2.865-.876c-1.565 0-2.952.69-3.816 1.749-.864-1.059-2.252-1.749-3.818-1.749-1.07 0-2.056.324-2.851.866V6.049h13.35zm-.258 5.248c-.077-.005-.155-.012-.234-.012h-4.971c.438-.838 1.437-1.426 2.598-1.426 1.168 0 2.173.593 2.607 1.438zm-7.643-.012H5.812c-.081 0-.159.007-.238.012.434-.844 1.438-1.438 2.606-1.438 1.163 0 2.163.588 2.6 1.426zM3.906 16.04v-.943c0-1.051.855-1.905 1.906-1.905h12.376c1.051 0 1.905.854 1.905 1.905v.943H3.906z">
                            </path>
                          </svg>
                        </div>
                        <!-- </div> -->
                        <div class="col-8">
                          <div class="searchTxt">
                            <div data-dismiss="modal" class="txt">
                              No Matched City </div>
                          </div>
                        </div>
                      </a>

                    </div>

                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<hr class="mx-4" />
<h1 class="mt-2 ml-4 font-weight-bold">You Recently Searched</h1>

<!-- Buttons -->

<app-button class="mb-3" [search]="search"></app-button>

