<div class="container ">
    <div class="row bg-white">

        <div class="col-4 mycar">
            <div class="style-like bg-white mt-3 rounded-circle d-flex justify-content-center align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-suit-heart-fill heart-color" viewBox="0 0 16 16">
          <path
            d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z" />
        </svg>
            </div>
            <div id="myCarousel" class="carousel slide h-100 style-slider w-100" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner h-100">
                    <div *ngFor="let img of resturant.imageUrls;let i= index ;let isFirst=first" [ngClass]="{active:isFirst}" class="carousel-item h-100">
                        <img id={{i}} src={{img}} width="250" height="200">
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                    <span class="sr-only">{{'Hotel.hotel.Previous'|translate}}</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    <span class="sr-only">{{'Hotel.hotel.Next'|translate}}</span>
                </a>
            </div>



        </div>
        <div class="col-8 pt-1">
            <h3><b>{{resturant.name}}</b></h3>
            &nbsp; <i class="fas fa-circle fa-sm text-success" *ngFor="let dot of Counter(rate)"></i> {{resturant.reviews.length}} {{'Restaurant.item.reviews'|translate}}
            <br>
            <b> Cuisine : </b>
            <p class="text-secondary d-inline" *ngFor="let cuisine of resturant.cuisine.slice(0,4)">
                {{(getCuisinesById(cuisine)[0][translate.currentLang])}}, &nbsp; </p>
            <hr>
            <div class="row">
                <div class="col-8">
                    <p class="text-secondary">&nbsp;&nbsp;<i class="fas fa-envelope text-body"></i> {{resturant.contact.Email}}
                    </p>
                    <p class="text-secondary">&nbsp;&nbsp;<i class="fas fa-phone-alt text-body"></i> {{resturant.contact.telephone}}
                    </p>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-warning mt-3" data-toggle="modal" data-target="#example2Modal" (click)="ViewDetails()">{{'Hotel.hotel.ViewDetails'|translate}} </button>
                </div>

                <app-resturant-details></app-resturant-details>
            </div>
        </div>
    </div>
</div>
<br>




<!-- <div class="carousel slide" data-ride="carousel" data-interval="false" data-pause="hover" style="width: 300px;">
   <ul class="carousel-indicators">
     <li data-slide-to="0" class="active"></li>
     <li data-slide-to="1"></li>
     <li data-slide-to="2"></li>
   </ul>

   <div class="carousel-inner rounded-lg">
     <div class="iconoverimg">
       <div class="carousel-item " *ngFor="let img of resturant; let i=index ;let isFirst=first"
         [ngClass]="{active:isFirst}">
         <div>{{img}}</div>
         <img id={{i}} src={{img}} alt="Los Angeles" width="300" height="100">

       </div>
       <div class="carousel-item">
              <img class="myimg" alt="Chicago" width="300" height="100">

            </div>
            <div class="carousel-item">
              <img class="myimg" alt="New York" width="300" height="100">

            </div>
<div class="badge badge-light rounded-circle p-2 icon ">
  <i class="fa fa-heart  fa-lg myicon" role="button"></i>
</div>
</div>
</div>
<a class="carousel-control-prev" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
</a>
<a class="carousel-control-next" data-slide="next">
  <span class="carousel-control-next-icon"></span>
</a>
</div> -->