<div class="cover-div d-flex align-items-center justify-content-around">

    <div class="w-100 d-flex align-items-center justify-content-around">
        <div class="w-75 d-flex align justify-content-center align-items-center">
            <i class="far fa-image"></i>
            <span><b>Add cover photo</b></span><br>
        </div>
    </div>
</div>

<div class="edit-profile">
    <div class=" row d-flex align justify-content-center align-items-center m-0">
        <div class="w-75">
            <div class="row bg-white rounded pt-4 pl-4 pr-4 pb-0">
                <div class="col-9">
                    <div class="row">
                        <div class="col-3">
                            <img class="rounded-circle img-fluid" src="./img/gondol.jpg">
                        </div>
                        <div class="col-9">
                            <div class="row d-flex flex-column">
                                <div>
                                    <h3>Nada G</h3>
                                    <span>@463nadag</span>
                                </div>
                            </div>
                            <div class="row prof-style">
                                <div class="row">
                                    <div class="col-4">
                                        <div>
                                            <h5>Contributions</h5>
                                            <h5>0</h5>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div>
                                            <h5>Followers</h5>
                                            <h5>5</h5>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div>
                                            <h5>Following</h5>
                                            <h5>50</h5>
                                        </div>
                                    </div>
                                    <div class="col-4">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3"></div>
                </div>

                <div class="col-3">
                    <button class="btn bg-white border float-right">
                        <h6><b>Edite Profile </b><i class="fas fa-cog"></i></h6>

                    </button>
                </div>

                <div class="w-75 d-flex justify-content-around  text-size pt-3 pb-3">
                    <a href="#" class="text-dark">Activity feed</a>
                    <a href="#" class="text-dark">trips</a>
                    <a href="#" class="text-dark">Photos</a>
                    <a href="#" class="text-dark">Reviews</a>
                    <a href="#" class="text-dark">Forums</a>
                    <a href="#" class="text-dark">Badges</a>
                    <a href="#" class="text-dark">Travel maps</a>

                </div>
            </div>

        </div>
    </div>

    <div class="row d-flex align justify-content-center align-items-center m-0 mb-5">
        <div class="w-75 mt-5">
            <div class="row">
                <div class="col-3 p-0 mr-2">
                    <div class="p-4 bg-white">
                        <h5>Intro</h5>
                        <div>
                            <div class="pb-3"> <span><a href="#" class="text-dark">+ Add your current
                                        city</a></span>
                            </div>
                            <div class="pb-3"><span><a href="#" class="text-dark"><i
                                            class="fas fa-calendar-day"></i>
                                        Joined in Dec
                                        2020</a></span>
                            </div>
                            <div class="pb-3"> <span><a href="#" class="text-dark">+ Add a website</a></span></div>
                            <div class="pb-3"> <span><a href="#" class="text-dark">+ Write some details about
                                        yourself</a></span></div>

                        </div>
                    </div>

                    <div class="p-4 mt-4 bg-white">
                        <h5>Share your travel advice</h5>
                        <div>
                            <div class="pb-3">
                                <h6> <span><a href="#" class="text-dark"><i class="fas fa-camera"></i>
                                            Post Photos
                                        </a></span></h6>
                            </div>
                            <div class="pb-3">
                                <h6><span><a href="#" class="text-dark"><i class="far fa-edit"></i>
                                            Write review</a></span></h6>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class=" bg-white p-4 d-flex align justify-content-center align-items-center">
                        <div class="d-flex align-items-center flex-column">
                            <h2>
                                <h2>Fill Out Your Profile</h2>
                                <span>Add photos and info to your profile so people can find you</span>
                                <span>easily and get to know you better!</span>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-1">

                </div>
            </div>
        </div>
    </div>
</div>
