
.cover-div {
    background-color: #e0e0e0;
    height: 35vh; }
  
  i {
    font-size: 1.4rem; }
  
  .prof-style {
    position: absolute;
    bottom: 0rem; }
  
  .text-size {
    font-size: 1.1rem; }
  
  .edit-profile {
    position: relative;
    bottom: 3rem; }