<h5>
    <a class="text-dark"> All Things to Do</a>
</h5>
<hr>
<span><b>Your selections</b></span>
<span class=" float-right">Clear all</span>
<pre class="mt-3"><i class="fas fa-times-circle"></i> <a href="#" class="text-dark">shopping</a></pre>
<hr>
<h5>Shopping</h5>
<form>
    <div class="form-check">
        <label class="form-check-label" for="check1">
            <input type="checkbox" class="form-check-input" ><a href="#" class="text-dark">Gifts and special Shops(28)</a>
          </label>
    </div>
    <div class="form-check">
        <label class="form-check-label" for="check2">
            <input type="checkbox" class="form-check-input"><a href="#" class="text-dark">Shopping tours(25)</a>
          </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" ><a href="#" class="text-dark">Shopping Malls(14)</a>
          </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
              <input type="checkbox" class="form-check-input" ><a href="#" class="text-dark">Art Gallery(10)</a>
            </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
              <input type="checkbox" class="form-check-input" ><a href="#" class="text-dark">Flea& street market(9)</a>
            </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
              <input type="checkbox" class="form-check-input" ><a href="#" class="text-dark">Antique Stores(5)</a>
            </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" ><a href="#" class="text-dark">Departments Stores(2)</a>
                </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" ><a href="#" class="text-dark">Factory outlets(1)</a>
                </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" ><a href="#" class="text-dark">farmers market(1)</a>
                </label>
    </div>
</form>
<hr>
<h5>Others</h5>
<form>
    <div class="form-check">
        <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio"><a href="#" class="text-dark">Free entry</a>
            </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio"><a href="#" class="text-dark">Good for a Rainy day</a>
            </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio"><a href="#" class="text-dark">Budget-friendly</a>
            </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio"><a href="#" class="text-dark">Good for Couples</a>
            </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio"><a href="#" class="text-dark">Good for Big Groups</a>
            </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio"><a href="#" class="text-dark">Good for Kids</a>
            </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio"><a href="#" class="text-dark">Honeymoon Spot</a>
            </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio"><a href="#" class="text-dark">Adventurous</a>
            </label>
    </div>
</form>