
.cruise-div{
    position: absolute;
    top: 75%;
}
.sort-icon{
    position: relative;
    bottom: 3px;
}
.whereTo-div{
    width: fit-content;
}
.container-div{
    background-color: #f2f2f2;
    padding-top: 100px;
}
.background-div{
    background-color: #f2f2f2;
}
.search-btn{
    position: relative;
    width: 33%;
    bottom: 3px;
}
.ship-img{
    height: 45px;
}
.cruise-txt{
    margin-top: -4px;
    color:#545454;
    font-size: 16px;
    line-height: 22px;
    width: 83%;
}

.view-ship-btn{
    border: 1px solid rgba(191, 191, 191, 1);
    border-radius: 35px;
    background-color: rgba(191, 191, 191, 1);
    width: 18%;
    height: 38px;
} 
.select-cruise{
    background-color: #fff;
    border: 1px solid rgba(191, 191, 191, 1);
    width: 30%;
    height: 38px;
}
.first-header{
    font-weight: 500;
    font-size: 31px;
    position: relative;
    top: 65px;
}
.q-style{
    font-weight: 500;
}
.col-md-6 p{
    line-height: 20px;
}
.footer{
    background-color:#faf1ed ;
}
.caro-div{
    color: black;
    font-weight: 500;
    font-size: 16px;
}
.anchor-div a{
    color: darkgrey;
}
.anchor-div a:hover{
    color: darkgrey;
}
.icon-search{
    position: relative;
    top: 29px;
    left: 10px;
}

.slider-img{
    height: 67%;
    width: 100%;
}
.carousel-imgs{
    max-width: 100%;
    max-height: 100%;
}
// .cards{
//     height: fit-content;
// }
.deals{
    column-count:2;
}