<div data-spy="scroll" data-target=".c2" data-offset="50">
  <div class="container-fluid ">
    <div class="row c1">
      <div class="col-12 text-center text-white p-4">
        <H1>Help center</H1>
      </div>
      <form class="col-sm-11  ml-5">
        <div class="input-group  input-group-lg mt-5 ">
          <input type="search" class="form-control" placeholder="Search">
          <div class="input-group-prepend">
            <a href="#" class="input-group-text bg-dark text-white text-decoration-none"><i
                class="fas fa-search"></i></a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row  c2 text-center">
      <div class="col-1">

      </div>
      <div class="col-2 ">
        <a href="#guide" class="text-dark"><i class="fas fa-user-edit"></i></a>
        <h3 class="mt-3">Guidelines</h3>
      </div>
      <div class="col-2 ">
        <a href="#Site" class="text-dark"><i class="far fa-star"></i></a>
        <h2 class="mt-3">Site features</h2>
      </div>
      <div class="col-2 ">
        <a href="#community" class="text-dark"><i class="fas fa-users"></i></a>
        <h2 class="mt-3">Community</h2>
      </div>
      <div class="col-2">
        <a href="#Technical" class="text-dark"><i class="fas fa-cogs"></i></a>
        <h2 class="mt-3">Technical Support</h2>
      </div>
      <div class="col-2 ">
        <a href="#trip" class="text-dark"><i class="fas fa-book"></i></a>
        <h2 class="mt-3">Tripadvisor plus</h2>
      </div>
      <div class="col-1">

      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row mb-4 pl-3">
      <h3>Popular Topics</h3>
    </div>
    <div class="row">
      <div class="col-6">
        <button type="button" class="btn btn-light w-100 text-left" data-toggle="collapse"
          data-target="#div1">Tripadvisor's Content Policy +</button>
        <div class="collapse" id="div1">
          <p>We love hearing about your travel experiences and value your contributions to our site! We also want to
            make
            sure that Tripadvisor is a safe and trustworthy source for our global community. To help...</p>
          <button type="button" class="btn btn-dark">View More</button>
        </div>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-light w-100 text-left" data-toggle="collapse" data-target="#div2">Our
          Guidelines for Fourm post +</button>
        <div class="collapse " id="div2">
          <p>We value your contributions and encourage you to interact with your fellow travelers! We also want to make
            sure that TripAdvisor is a safe and trustworthy source for travel advice and information. ..</p>
          <button type="button" class="btn btn-dark">View More</button>
        </div>
      </div>
    </div>

  </div>
  <div class="container pt-5" id="guide">
    <div class="row">
      <h3 class="m-3">Guidelines</h3>
    </div>
    <div class="row">
      <div class="col-6">
        <h2>Content Guidelines</h2>
        <ul class="mt-3">
          <li class="mb-3 "><a href="#" class="text-decoration-none text-dark">Tripadvisor’s Content Policy</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">Video Guidelines</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">Our guidelines for traveler reviews</a>
          </li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">Photo Guidelines</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">Our guidelines for vacation rental
              reviewss</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">What are airline reviews?</a></li>
        </ul>
      </div>
      <div class="col-6 ">
        <h2>Responding to Reviews (Owners)</h2>
        <ul class="mt-3">
          <li class="mb-3 "><a href="#" class="text-decoration-none text-dark">Notification Owner Response
              Guidelines</a>
          </li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">How can I edit or delete a Management
              Response?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">Two guests in the same party each wrote a
              review. Is this allowed?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">Management Response Guidelines</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">What's a Management Response?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">As an owner or manager, how do I report a
              review that violates your guidelines?</a></li>
        </ul>
      </div>
    </div>
    <br>
    <div class="row mt-3">
      <div class="col-6">
        <h2>Listing Guidelines</h2>
        <ul class="mt-3">
          <li class="mb-3 "><a href="#" class="text-decoration-none text-dark">What is a listing?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">What kind of places does Tripadvisor
              list?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">How do I request that a place or business
              be
              added to TripAdvisor?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">Why was my listing request rejected?</a>
          </li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">As a traveler, how do I help correct
              inaccurate business information?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">Restaurant listing guidelines</a></li>
        </ul>
      </div>
      <div class="col-6 ">
        <h2>Managing Your Listing (Owners)</h2>
        <ul class="mt-3">
          <li class="mb-3 "><a href="#" class="text-decoration-none text-dark">What is Tripadvisor Reputation Pro?</a>
          </li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">What is Tripadvisor Menu Connect??</a>
          </li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">How can I report that my restaurant or
              attraction has temporarily closed?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">How can I report that my accommodation has
              temporarily closed?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">How do I update my business opening
              hours?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">What is Sponsored Placement for
              Attractions?</a></li>
        </ul>
      </div>
    </div>

  </div>
  <div class="container pt-5" id="Site">
    <div class="row">
      <h3 class="m-3">Site Features</h3>
    </div>
    <div class="row">
      <div class="col-6">
        <h2>Getting Started</h2>
        <ul class="mt-3">
          <li class="mb-3 "><a href="#" class="text-decoration-none text-dark">How do I post a link?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">What is a verified badge?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">What is the TripAdvisor travel feed?</a>
          </li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">How do I follow someone?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">How can I see who is following me?</a>
          </li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">Where can I see a list of people
              Ifollow?</a></li>
        </ul>
      </div>
      <div class="col-6 ">
        <h2>Vacation Rentals</h2>
        <ul class="mt-3">
          <li class="mb-3 "><a href="#" class="text-decoration-none text-dark">About the coronavirus outbreak
              (COVID-19)</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">How do I make changes to my vacation
              rental
              booking?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">What are the changes to data protection
              law
              and how do they affect me?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">Why was my rental booking cancelled?</a>
          </li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">Why can't I call the property
              owner/manager
              before booking?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">How do I report the property
              owner/manager's
              conduct?</a></li>
        </ul>
      </div>
    </div>
    <br>
    <div class="row mt-3">
      <div class="col-6">
        <h2>Navigating TripAdvisor</h2>
        <ul class="mt-3">
          <li class="mb-3 "><a href="#" class="text-decoration-none text-dark">Why didn't my tour or activity get
              confirmed?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">Can employees in TripAdvisor retail stores
              help me with general site questions?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">Where can I find information about the
              safety of a destination?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">What are Neighborhoods?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">How can I unsubscribe to Questions &
              Answers
              emails?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">How do I remove or report a Question &
              Answers topic?</a></li>
        </ul>
      </div>
      <div class="col-6 ">
        <h2>Things To Do</h2>
        <ul class="mt-3">
          <li class="mb-3 "><a href="#" class="text-decoration-none text-dark">Can I reserve now and pay cash upon
              arrival?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">Why do I have to provide a credit card if
              I’m not charged right away?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">Is my reservation secured if I don’t make
              payment up front?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">What happens if I reserve and my credit
              card
              does not go through at final payment?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">What happens if the price changes on the
              tour I’ve reserved?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">Is my reservation confirmed upon
              reservation
              or at the time of payment?</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container pt-5" id="community">
    <div class="row">
      <h3 class="m-3">Community</h3>
    </div>
    <div class="row mt-3">
      <div class="col-6">
        <h2>Forums</h2>
        <ul class="mt-3">
          <li class="mb-3 "><a href="#" class="text-decoration-none text-dark">Our guidelines for Forum posts</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">What languages can I use on the
              forums?</a>
          </li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">Understanding forums lingo</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">Beyond destination forums</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">How do I edit or delete my forum
              posts?</a>
          </li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">How do I report an inappropriate forum
              post?</a></li>
        </ul>
      </div>
      <div class="col-6 ">
        <h2>Member Center</h2>
        <ul class="mt-3">
          <li class="mb-3 "><a href="#" class="text-decoration-none text-dark">How do I tag someone on a post?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">How to report a user’s profile?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">What is TripCollective?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">What are the city pages in the member
              profile?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">How do I change or remove pins on my
              travel
              map?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">How do you calculate the Travel Map stats
              on
              my profile?</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container pt-5" id="Technical">
    <div class="row">
      <h3 class="m-3 ">Technical Support</h3>
    </div>
    <div class="row mt-3">
      <div class="col-6">
        <h2>Account Settings</h2>
        <ul class="mt-3">
          <li class="mb-3 "><a href="#" class="text-decoration-none text-dark">Tips for Maintaining Anonymity on
              TripAdvisor</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">How do I update my profile cover
              photo?</a>
          </li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">Why did I get an email about my password
              changing?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">How do I change my Home Airport?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">How do I close my member account?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">How can I change the email address on my
              account?</a></li>
        </ul>
      </div>
      <div class="col-6 ">
        <h2>Membership</h2>
        <ul class="mt-3">
          <li class="mb-3 "><a href="#" class="text-decoration-none text-dark">Will you share my private information
              (like
              my e-mail address) with other members?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark ">How do I become a member?</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container pt-5" id="trip">
    <div class="row">
      <h3 class="m-3 ">Tripadvisor Plus</h3>
    </div>
    <div class="row mt-3">
      <div class="col-6">
        <h2>Plus Membership</h2>
        <ul class="mt-3">
          <li class="mb-3 "><a href="#" class="text-decoration-none text-dark">How can I subscribe to become a
              Tripadvisor
              Plus member?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">Will my subscription auto-renew each
              year?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">Where can I manage my Plus account?</a>
          </li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">How can I pay for my Plus membership?</a>
          </li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">Where can I update my payment details?</a>
          </li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">How can I share Tripadvisor Plus with
              friends and family?</a></li>
        </ul>
      </div>
      <div class="col-6 ">
        <h2>Plus Benefits</h2>
        <ul class="mt-3">
          <li class="mb-3 "><a href="#" class="text-decoration-none text-dark">Where can I access my Plus benefits on
              Tripadvisor?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">Do I get any special treatment when I
              check
              in to my hotel?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">Can I use my Plus perks at hotels outside
              of
              the United States?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">Are all hotels/experiences listed on
              Tripadvisor included in the program?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">How do I know when “upon availability”
              perks
              are available?</a></li>
          <li class="mb-3"><a href="#" class="text-decoration-none text-dark">Can I access Plus benefits for
              hotels/experiences that are not booked on Tripadvisor?</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
