

   .c1 {
     background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/01/1f/d2/37/tulum.jpg");
     background-repeat: no-repeat;
     background-size: 100% 250px;
     height: 350px;
   }

   h1 {
     font-size: 50px;
   }

   .c2 {
     font-size: 65px;
   }

   .c3 {
     line-height: 10px;
     background-color: rgb(240, 228, 233);
   }

   .c4 {
     background-color: rgb(240, 228, 233);
   }